{% extends 'main/basis.html' %}
{% load render_bundle from webpack_loader %}
{% load staticfiles %}
{% load dioeTags %}
{% load crispy_forms_tags %}
{% block title %} - Anno-sent{% endblock %}
{% block ueberschrift %} - Anno-sent{% endblock %}
{% block sitecss %}
	{% render_bundle 'tagsystem' 'css' 'tagsystemVUE' %}
	{% render_bundle 'app' 'css' 'annoSent' %}
{% endblock %}
{% block inhalt %}
	<div>
		<br>
		<div class="row">
			<div class="col col-md-4">
				<div class="form-horizontal">
					{% for suche in optionen.suche %}
					  <div class="form-group">
					    <label for="suche-{{ suche.name }}" class="col-sm-2 control-label">{{ suche.name }}</label>
					    <div class="col-sm-10">
								<div class="input-group">
					      	<input type="text" class="form-control" id="suche-{{ suche.name }}" placeholder="">
									<span class="input-group-btn">
						        <button class="btn btn-primary" type="button">Suchen</button>
						      </span>
								</div>
					    </div>
					  </div>
					{% endfor %}
				</div>
			</div>
			<div class="col col-md-offset-1 col-md-3">
				<div class="form-horizontal">
					{% for suche in optionen.suche %}
						<div class="form-group">
							<label for="kannmuss-{{ suche.name }}" class="col-sm-4 control-label">Methode</label>
							<div class="col-sm-8">
								<div class="input-group">
									<select class="form-control" id="kannmuss-{{ suche.name }}" style="width:35%">
									  <option>kann</option>
									  <option>muß</option>
									</select>
									<select class="form-control" id="methode-{{suche.name }}" style="width:65%">
										<option>case-insensetiv</option>
										<option>case-sensetiv</option>
										<option>RegEx</option>
									</select>
								</div>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
			<div class="col col-md-offset-1 col-md-3">
				<div class="form-horizontal">
					<div class="form-group">
						<div class="col-sm-offset-4 col-sm-8">
							<a href="{% url 'AnnotationsDB:annosent' %}?refresh=1" class="form-control-static btn btn-success w100" title="Letzter Refresh: {{ tbl_refreshlog_mat_adhocsentences_last.created_at }} Uhr{% if tbl_refreshlog_mat_adhocsentences_avg %}, Durchschnittliche Dauer ca. {{ tbl_refreshlog_mat_adhocsentences_avg.total_seconds|floatformat:1 }} Sekunden{% endif %}"><b>Refresh Materialized View</b></a>
						</div>
					</div>
					<div class="form-group">
				    <label for="informant" class="col-sm-4 control-label">Informant</label>
				    <div class="col-sm-8">
							<select class="form-control" id="informant">
							  <option>Alle</option>
								<option>xxx</option>
								<option>yyy</option>
							</select>
				    </div>
				  </div>
					<div class="form-group">
				    <label for="transkript" class="col-sm-4 control-label">Transkript</label>
				    <div class="col-sm-8">
							<select class="form-control" id="transkript">
							  <option>Alle</option>
								<option>xxx</option>
								<option>yyy</option>
							</select>
				    </div>
				  </div>
					<div class="form-group">
				    <label for="tagebene" class="col-sm-4 control-label">Tag Ebene</label>
				    <div class="col-sm-8">
							<select class="form-control" id="tagebene">
							  <option>Auswählen</option>
								<option>xxx</option>
								<option>yyy</option>
							</select>
				    </div>
				  </div>
				</div>
			</div>
		</div>
		<br>
		<div class="table-responsive">
			<table class="table table-hover" style="white-space:pre">
				<thead>
	        <tr>
	          <th>#</th>
						<th>adhoc_sentence</th>
						<th>tokenids</th>
						<th>infid</th>
						<th>transid</th>
						<th>tokreih</th>
						<th>seqsent</th>
						<th>sentorig</th>
						<th>sentorth</th>
						<th>left_context</th>
						<th>senttext</th>
						<th>right_context</th>
						<th>sentttlemma</th>
						<th>sentttpos</th>
						<th>sentsplemma</th>
						<th>sentsppos</th>
						<th>sentsptag</th>
						<th>sentspdep</th>
						<th>sentspenttype</th>
	        </tr>
	      </thead>
				<tbody>
					{% for line in mat_adhocsentences %}
		        <tr>
		          <th scope="row">{{ forloop.counter }}</th>
		          <td>{{ line.adhoc_sentence }}</td>
							<td>{{ line.tokenids }}</td>
							<td>{{ line.infid }}</td>
							<td>{{ line.transid }}</td>
							<td>{{ line.tokreih }}</td>
							<td>{{ line.seqsent }}</td>
							<td>{{ line.sentorig }}</td>
							<td>{{ line.sentorth }}</td>
							<td>{{ line.left_context }}</td>
							<td>{{ line.senttext }}</td>
							<td>{{ line.right_context }}</td>
							<td>{{ line.sentttlemma }}</td>
							<td>{{ line.sentttpos }}</td>
							<td>{{ line.sentsplemma }}</td>
							<td>{{ line.sentsppos }}</td>
							<td>{{ line.sentsptag }}</td>
							<td>{{ line.sentspdep }}</td>
							<td>{{ line.sentspenttype }}</td>
		        </tr>
					{% endfor %}
	      </tbody>
			</table>
		</div>
	</div>
	<div id="app"></div>
	<br>
	<br>
	<br>
{% endblock %}
{% block sitejs %}
	<script>
		var csrf='{{ csrf_token }}';
		var audiodir = '{% settings_value "AUDIO_URL" %}';
	</script>
	<script src="{% static "main/js/lodash.4-17-11.min.js" %}"></script>
	<script src="{% static "main/js/popper.1-15-0.min.js" %}"></script>
	<script src="{% static "main/js/vue.2-5-2.min.js" %}"></script>
	<script src="{% static "main/js/vue-resource.1-5-1.min.js" %}"></script>
	{% render_bundle 'tagsystem' 'js' 'tagsystemVUE' %}
	{% render_bundle 'manifest' 'js' 'annoSent' %}
	{% render_bundle 'vendor' 'js' 'annoSent' %}
	{% render_bundle 'app' 'js' 'annoSent' %}
{% endblock %}
