{% extends 'main/basis.html' %}
{% load render_bundle from webpack_loader %}
{% load staticfiles %}
{% load dioeTags %}
{% load crispy_forms_tags %}
{% block title %} - Anno-sent{% endblock %}
{% block ueberschrift %} - Anno-sent{% endblock %}
{% block sitecss %}
	{% render_bundle 'tagsystem' 'css' 'tagsystemVUE' %}
{% endblock %}
{% block inhalt %}
	<div>
		<br>
		<h3>Anno-sent</h3>
		<br>
		<a href="{% url 'AnnotationsDB:annosent' %}?refresh=1">Refresh</a><br>
		<br>
		<div class="row">
			<div class="col col-md-8">
				mat_adhocsentences:
				<ul>
					{% for line in mat_adhocsentences %}
						<li>{{ line }} - {{ line.id }} - {{ line.adhoc_sentence }} - {{ line.tokenids }} ...</li>
					{% endfor %}
				</ul>
			</div>
			<div class="col col-md-4">
				Refresh Log:
				<ul>
					{% for logEntry in tbl_refreshlog_mat_adhocsentences %}
						<li>{{ logEntry }}</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
{% endblock %}
{% block sitejs %}
	<script>
		var csrf='{{ csrf_token }}';
		var audiodir = '{% settings_value "AUDIO_URL" %}';
	</script>
	<script src="{% static "main/js/lodash.4-17-11.min.js" %}"></script>
	<script src="{% static "main/js/popper.1-15-0.min.js" %}"></script>
	<script src="{% static "main/js/vue.2-5-2.min.js" %}"></script>
	<script src="{% static "main/js/vue-resource.1-5-1.min.js" %}"></script>
	{% render_bundle 'tagsystem' 'js' 'tagsystemVUE' %}
{% endblock %}
