{% extends 'main/basis.html' %}
{% load staticfiles %}
{% load dioeTags %}
{% load crispy_forms_tags %}
{% block title %} - Annotation{% endblock %}
{% block ueberschrift %} - Annotation{% endblock %}
{% block sitecss %}
{% endblock %}
{% block inhalt %}
<div style="overflow-x: auto">
	<br>
	<select onchange="javascript:location.href = '/annotationsdb/auswertung/' + this.value + '/0';">
		<option value="0"{% if aTagEbene == 0 %} selected{% endif %}>Ebene auswählen</option>
		{% for value in tagEbenen %}
			<option value="{{ value.pk }}"{% if aTagEbene == value.pk %} selected{% endif %}>{{ value.title }} - {{ value.count }}</option>
		{% endfor %}
	</select>
	<br>
	{% if aAuswertungen %}
		<br>
		<b>Treffer: {{ aCount }}</b> - {% if prev > -1 %}<a href="{% url 'AnnotationsDB:auswertung' aTagEbene=aTagEbene aSeite=prev %}">Zurück</a>{% else %}Zurück{% endif %} - {% if next > -1 %}<a href="{% url 'AnnotationsDB:auswertung' aTagEbene=aTagEbene aSeite=next %}">Weiter</a>{% else %}Weiter{% endif %} - <a href="{% url 'AnnotationsDB:auswertung' aTagEbene=aTagEbene aSeite=0 %}?get=xls">XLS</a><br>
		<br>
		<table class="table table-bordered" style="width: auto; max-width: inherit; min-width: 100%; white-space: nowrap;">
			<thead>
				<tr>
					<th>#</th>
					<th>Transkript</th>
					<th>tId</th>
					<th>Informant</th>
					<th>iId</th>
					<th>aId</th>
					<th>vorheriger Satz</th>
					<th>Satz</th>
					<th>nächster Satz</th>
					<th>Sätze in Ortho</th>
					<th>Ausgewählte Tokens</th>
					<th>Ausgewählte Tokens (Id)</th>
					<th>{{ aAntTagsTitle }}</th>
					{% for nATT in nAntTagsTitle %}
						<th>{{ nATT.t }}</th>
					{% endfor %}
				</tr>
			</thead>
			<tbody>
			{% for auswertung in aAuswertungen %}
				<tr>
					<td>{{ auswertung.aNr }}</td>
					<td>{{ auswertung.aTrans }}</td>
					<td>{{ auswertung.aTransId }}</td>
					<td>{{ auswertung.aInf }}</td>
					<td>{{ auswertung.aInfId }}</td>
					<td>{{ auswertung.aAntwortId }}</td>
					<td>{{ auswertung.vSatz }}</td>
					<td>{{ auswertung.aSaetze }}</td>
					<td>{{ auswertung.nSatz }}</td>
					<td>{{ auswertung.aOrtho }}</td>
					<td>{{ auswertung.aTokensText }}</td>
					<td>{{ auswertung.aTokens }}</td>
					<td>{{ auswertung.aAntTags.t }}</td>
					{% for nATT in nAntTagsTitle %}
						<td>{% if nATT.i in auswertung.nAntTags %}{{ auswertung.nAntTags|get_item:nATT.i|get_item:'t' }}{% endif %}</td>
					{% endfor %}
				</tr>
			{% endfor %}
			</tbody>
		</table>
	{% endif %}
</div>
{% endblock %}
{% block sitejs %}
{% endblock %}
