{% extends 'main/basis.html' %}
{% load staticfiles %}
{% load dioeTags %}
{% load crispy_forms_tags %}
{% block title %} - bearbeiten{% endblock %}
{% block ueberschrift %} - bearbeiten{% endblock %}
{% block sitecss %}<link href="{% static "annotationsdb/css/annotation.css" %}" rel="stylesheet">{% endblock %}
{% block inhalt %}
<div class="row h100">
	<div class="col-md-2 h100 mh200px vscroller lmfa">
		<form id="seltranskript" method="post">{% csrf_token %}
		<input type="hidden" name="xxx" value="{{ aAufgabenset }}">
		<select name="ainformant" size="1" class="form-control mit10 mib10">
			<option value="0">Informant</option>
			{% for value in informantenMitTranskripte %}<option value="{{ value.model.pk|stringformat:"i" }}"{% if aInformant == value.model.pk %} selected{% endif %}>{{ value.model }} - {{ value.Acount }} Transkripte</option>{% endfor %}
		</select>
		</form>
		{% if aInformant %}
		<ul class="lmfa-l">
		{% for value in aTranskripte %}{% spaceless %}
			<li><a href="{% url 'AnnotationsDB:start' ipk=aInformant tpk=value.model.pk %}" class="lmfabc" data-pk="{{ value.model.pk|stringformat:'i' }}" title="PK: {{ value.model.pk|stringformat:'i' }}
Update: {{ value.model.update_time|date:'d.m.Y - H:i' }} Uhr" target="targetframe">{{ value.model.name }}<span>{{ value.count }}</span></a></li>
			{% endspaceless %}
		{% endfor %}
		</ul>
		{% endif %}
	</div>
	{{ test }}
	<div class="col-md-10 h100 mh600px" style="border-right:1px solid #eee;padding:0px;padding-bottom:150px;"><div class="h100 mcon vscroller">{% if test %}<div class="alert alert-info">{{ test }}</div><br>{% endif %}</div></div>
</div>
<style>
	html,body,body>.container { height:100%; }
</style>
{% endblock %}
{% block sitejs %}
<script>
	var csrf='{{ csrf_token }}';
	var audiodir = '{% settings_value "AUDIO_URL" %}';
</script>
<script src="{% static "annotationsdb/js/scripts.js" %}"></script>
{% endblock %}
