{% extends 'main/basis.html' %}
{% load staticfiles %}
{% load dioeTags %}
{% load crispy_forms_tags %}
{% block title %} - Annotation (VUE){% endblock %}
{% block ueberschrift %} - Annotation (VUE){% endblock %}
{% block sitecss %}<link href="{% static "annotationsdb/css/annotationvue.css" %}?{% settings_value "CACH_RANDOM" %}" rel="stylesheet">{% endblock %}
{% block inhalt %}
<div id="annotationsTool" v-bind:class="{ loading: loading, bgloading: !annotationsTool.loaded }">
	<div class="row h100">
		<div class="col-md-2 h100 mh200px vscroller lmfa">
			<div class="input-group mit10 mib10">
				<select name="ainformant" size="1" class="form-control" v-model="menue.aInformant" @change="getMenue()">
					<option value="0">Informant</option>
					<option v-for="informantMitTranskripte in menue.informantenMitTranskripte" :value="informantMitTranskripte.model.pk">${informantMitTranskripte.model.model_str} - ${informantMitTranskripte.Acount} Transkripte</option>
				</select>
				<div class="input-group-addon np"><button @click="getMenue()"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></button></div>
			</div>
			<ul v-if="menue.aInformant > 0" class="lmfa-l">
				<li v-for="aTranskript in menue.aTranskripte"><a href="#" v-on:click.prevent="getTranskript(aTranskript.model.pk)" class="lmfabc" :title="'PK: ' + aTranskript.model.pk + '\nUpdate: ' + aTranskript.model.update_time + ' Uhr'" target="targetframe">${aTranskript.model.name}<span>${aTranskript.count.toLocaleString()}</span></a></li>
			</ul>
		</div>
		<div class="col-md-10 h100 mh600px" style="border-right:1px solid #eee;padding:0px;padding-bottom:150px;">
			<div id="svgscroller" class="h100 mcon vscroller">
				<svg id="annotationsvg">
					<defs>
						<marker id="arrow-blue" markerWidth="5" markerHeight="5" refX="3" refY="3" orient="auto" markerUnits="strokeWidth">
							<path d="M0,1 L0,5 L5,3 z" fill="#00a"/>
						</marker>
						<marker id="arrow-green" markerWidth="5" markerHeight="5" refX="3" refY="3" orient="auto" markerUnits="strokeWidth">
							<path d="M0,1 L0,5 L5,3 z" fill="#0a0"/>
						</marker>
					</defs>
					<g id="svg-g-transcript">
						<g id="svg-g-events" transform="translate(5,5)"></g>
					</g>
					<g id="svg-g-textsize">
						<text id="svg-text-textsize" x="-100" y="-100"></text>
					</g>
					<g id="svg-g-eventsize" transform="translate(-500,-500)">
					</g>
				</svg>
			</div>
			<div id="loadsym"><span class="glyphicon glyphicon-refresh gly-spin" aria-hidden="true"></span></div>
		</div>
	</div>
	<div id="loading">Lade ...</div>

	<!-- Informationen zu Informanten anzeigen -->
	<div id="aInformantenInfo" class="modal fade" tabindex="-1" role="dialog" v-if="aInfInfo >= 0 && xTranskript.aInformanten[aInfInfo]">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Schließen"><span aria-hidden="true">×</span></button>
					<h4 class="modal-title">Informant</h4>
				</div>
				<div class="modal-body">
					<div class="form-horizontal">
						<div class="form-group"><label class="col-sm-3 control-label">ID</label><div class="col-sm-9"><p class="form-control-static">${ aInfInfo }</p></div></div>
						<div class="form-group"><label class="col-sm-3 control-label">Kürzel</label><div class="col-sm-9"><p class="form-control-static">${ xTranskript.aInformanten[aInfInfo]['k'] }</p></div></div>
						<div class="form-group"><label class="col-sm-3 control-label">Kürzel Anonym</label><div class="col-sm-9"><p class="form-control-static">${ xTranskript.aInformanten[aInfInfo]['ka'] }</p></div></div>
					</div>
				</div>
				<div class="modal-footer"><button type="button" class="btn btn-default" data-dismiss="modal">Schließen</button></div>
			</div>
		</div>
	</div>

	<!-- Informationen zu Events anzeigen -->
	<div id="tEventInfo" class="modal fade" tabindex="-1" role="dialog" v-if="tEventInfo >= 0 && xTranskript.tEvents[tEventInfo]">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Schließen"><span aria-hidden="true">×</span></button>
					<h4 class="modal-title">Events</h4>
				</div>
				<div class="modal-body">
					<div class="form-horizontal">
						<div class="form-group"><label class="col-sm-3 control-label">Zeit</label><div class="col-sm-9"><p class="form-control-static">${ xTranskript.tEvents[tEventInfo]['s'] } -  ${ xTranskript.tEvents[tEventInfo]['e'] }</p></div></div>
					</div>
					<div v-for="(aInfVal, aInfKey) in xTranskript.aInformanten" v-if="xTranskript.tEvents[tEventInfo]['eId'][aInfKey] >= 0">
						<hr>
						<div class="form-horizontal" v-for="aEventKey in [xTranskript.tEvents[tEventInfo]['eId'][aInfKey]]">
							<div class="form-group"><label class="col-sm-3 control-label">Informant</label><div class="col-sm-9"><p class="form-control-static">${ aInfVal['k'] } (${ aInfVal['ka'] } - Id: ${ aInfKey })</p></div></div>
							<div class="form-group"><label class="col-sm-3 control-label">ID</label><div class="col-sm-9"><p class="form-control-static">${ xTranskript.aEvents[aEventKey]['pk'] }</p></div></div>
							<div class="form-group"><label class="col-sm-3 control-label">Start</label><div class="col-sm-9"><p class="form-control-static">${ xTranskript.aEvents[aEventKey]['s'] }</p></div></div>
							<div class="form-group"><label class="col-sm-3 control-label">Ende</label><div class="col-sm-9"><p class="form-control-static">${ xTranskript.aEvents[aEventKey]['e'] }</p></div></div>
							<div class="form-group"><label class="col-sm-3 control-label">Layer</label><div class="col-sm-9"><p class="form-control-static">${ xTranskript.aEvents[aEventKey]['l'] }</p></div></div>
							<div class="form-group"><label class="col-sm-3 control-label">Token IDs</label><div class="col-sm-9"><p class="form-control-static">
								<span v-for="(aTokenVal, aTokenKey) in xTranskript.aEvents[aEventKey]['tid']">
									<b>${ aTokenKey }:</b> ${ aTokenVal.join(', ') }<br>
								</span>
							</p></div></div></div>
					</div>
				</div>
				<div class="modal-footer"><button type="button" class="btn btn-default" data-dismiss="modal">Schließen</button></div>
			</div>
		</div>
	</div>

	<!-- Informationen zu Token anzeigen -->
	<div id="aTokenInfo" class="modal fade" tabindex="-1" role="dialog" v-if="aTokenInfo['pk']">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Schließen"><span aria-hidden="true">×</span></button>
					<h4 class="modal-title">Token</h4>
				</div>
				<div class="modal-body">
					<div class="form-horizontal">
						<div class="form-group"><label for="aTokenID" class="col-sm-3 control-label">ID</label><div class="col-sm-9"><p class="form-control-static" id="aTokenID">${ aTokenInfo['pk'] }</p></div></div>
						<div class="form-group"><label for="aTokenText" class="col-sm-3 control-label">text</label><div class="col-sm-9"><input type="text" class="form-control" id="aTokenText" v-model="aTokenInfo['t']"></div></div>
						<div class="form-group"><label for="aTokenType" class="col-sm-3 control-label">token_type</label><div class="col-sm-9">
							<select class="form-control" id="aTokenType" v-model="aTokenInfo['tt']">
								<option v-for="(aTokenTypeVal, aTokenTypeKey) in xTranskript.aTokenTypes" :value="aTokenTypeKey">${ aTokenTypeVal['n'] }</option>
							</select>
						</div></div>
						<div class="form-group"><label for="aTokenOrtho" class="col-sm-3 control-label">ortho</label><div class="col-sm-9"><input type="text" class="form-control" id="aTokenOrtho" v-model="aTokenInfo['o']"></div></div>
						<div class="form-group"><label for="aTokenIDInf" class="col-sm-3 control-label">ID_Inf</label><div class="col-sm-9"><p class="form-control-static" id="aTokenIDInf">${ xTranskript.aInformanten[aTokenInfo['i']]['k'] } (${ xTranskript.aInformanten[aTokenInfo['i']]['ka'] } - Id: ${ aTokenInfo['i'] })</p></div></div>
						<div class="form-group" v-if="aTokenInfo['fo']"><label for="aTokenfragmentof" class="col-sm-3 control-label">fragment_of</label><div class="col-sm-9"><p class="form-control-static" id="aTokenfragmentof">${ xTranskript.aTokens[aTokenInfo['fo']]['t'] } - ID: ${ aTokenInfo['fo'] }</p></div></div>
						<div class="form-group"><label for="aTokenReihung" class="col-sm-3 control-label">token_reihung</label><div class="col-sm-9"><p class="form-control-static" id="aTokenReihung">${ aTokenInfo['tr'] }</p></div></div>
						<div class="form-group"><label for="aTokenEventID" class="col-sm-3 control-label">event_id</label><div class="col-sm-9"><p class="form-control-static" id="aTokenEventID">${ aTokenInfo['e-txt'] } - ID: ${ aTokenInfo['e'] }</p></div></div>
						<div class="form-group"><label for="aTokenLikelyError" class="col-sm-3 control-label">likely_error</label><div class="col-sm-9"><label class="checkbox-inline"><input type="checkbox" id="aTokenLikelyError" value="1" v-model="aTokenInfo['le']"> Ja</label></div></div>
						<div class="form-group" v-if="aTokenInfo['s']"><label for="aTokenSentenceID" class="col-sm-3 control-label">sentence_id</label><div class="col-sm-9"><p class="form-control-static" id="aTokenSentenceID">${ xTranskript.aSaetze[aTokenInfo['s']]['t'] } - ID: ${ aTokenInfo['s'] }</p></div></div>
						<div class="form-group" v-if="aTokenInfo['sr']"><label for="aTokenSequenceInSentence" class="col-sm-3 control-label">sequence_in_sentence</label><div class="col-sm-9"><p class="form-control-static" id="aTokenSequenceInSentence">${ aTokenInfo['sr'] }</p></div></div>
						<div class="form-group"><label for="aTokenTextInOrtho" class="col-sm-3 control-label">text_in_ortho</label><div class="col-sm-9"><input type="text" class="form-control" id="aTokenTextInOrtho" v-model="aTokenInfo['to']"></div></div>
						<div class="form-group" v-if="xTranskript.aTokenFragmente[aTokenInfo['pk']]"><label class="col-sm-3 control-label">Fragmente</label><div class="col-sm-9"><ul class="form-control-static hflist">
								<li v-for="aToFragKey in xTranskript.aTokenFragmente[aTokenInfo['pk']]">${ xTranskript.aTokens[aToFragKey]['t'] } (${ aToFragKey })</li>
						</ul></div></div>
					</div>
				</div>
				<div class="modal-footer"><button type="button" class="btn btn-danger" id="delToken" tabindex="9999" disabled>Löschen</button><button type="button" class="btn btn-primary" id="saveToken" disabled>Speichern</button><button type="button" class="btn btn-default" data-dismiss="modal">Schließen</button></div>
			</div>
		</div>
	</div>


</div>
<style>
	html,body,body>.container { height:100%; }
</style>
{% endblock %}
{% block sitejs %}
<script>
	var csrf='{{ csrf_token }}';
	var audiodir = '{% settings_value "AUDIO_URL" %}';
</script>
<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.5"></script>
<script src="{% static "main/js/lodash.min.js" %}"></script>
<script src="{% static "annotationsdb/js/scriptsvue.js" %}?{% settings_value "CACH_RANDOM" %}"></script>
{% endblock %}
