{% extends 'main/basis.html' %}
{% load staticfiles %}
{% block title %} - Startseite{% endblock %}
{% block ueberschrift %} - Startseite{% endblock %}
{% block inhalt %}
	<br><br>
	<h2>Übersicht - {{ allproz|floatformat:1 }} %</h2>
	<br>
	<ul>
	{% for value in Aufgabensets %}
		<li>{{ value.model }} - {{ value.porz|floatformat:1 }} %
			<ul>
			{% for avalue in value.childs %}
				<li>{{ avalue.model }} - {{ avalue.proz|floatformat:1 }} %
				</li>
			{% endfor %}
			</ul>
		</li>
	{% endfor %}
	</ul>
	
{% endblock %}