.reihung-tags {
	position: relative;
}
.iblock {
	display: inline-block;
}
.prel {
	position: relative;
}

.tags {
  display: none;
}
.tags.open {
	display: block;
}
.r-tag-familie>.iblock>button {
  background: #fff;
  border: 1px solid #ccc;
  padding: 2px 8px;
  margin-right: 2px;
  border-radius: 11px;
  text-decoration: none;
  color: #333;
}

.r-tag-familie-pchilds .r-tag-familie-pchilds .iblock>button {
	border: none;
	background: none;
	border-right: 1px solid rgba(0,0,0,0.2);
	border-radius: 11px;
	margin: -1px 0px;
	padding: 2px 6px;
	text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.5), -1px -1px 0px rgba(255, 255, 255, 0.5), 1px -1px 0px rgba(255, 255, 255, 0.5), -1px 1px 0px rgba(255, 255, 255, 0.5);
}
.r-tag-familie-pchilds .r-tag-familie-pchilds .r-tag-familie-pchilds>.iblock>button {
	border-bottom-left-radius: 0px;
	border-top-left-radius: 0px;
}

.ptagsbtn.selected {
	color: #fff;
	background: #333;
}

button.ant-ftag {
  background: #fff;
  border: 1px solid #ccc;
  padding: 2px 8px;
  margin-right: 2px;
  border-radius: 11px;
  text-decoration: none;
  color: #333;
	padding: 2px 5px;
	border-radius: 14px;
}

.r-tag-familie>.iblock>button.ant-ftag {
  padding: 2px 5px;
  border-radius: 14px;
}

.r-tag-familie.error {
  border: 1px solid #d33;
  padding: 1px;
  border-radius: 5px;
}

.tag-familie.hidden-parent>div>.tag-familie {
	margin-left: 10px;
}
