#annotationsTool {
  position: relative;
	height: 100%;
}

#loading {
	display:none;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: rgba(0,0,0,0.25);
	color: #fff;
	font-size: 50px;
	text-align: center;
	line-height: 70vh;
	text-shadow: 2px 3px 4px #000;
	margin-left: -15px;
  margin-right: -15px;
	z-index: 1000000;
}
.loading #loading {
	display: block;
}

.input-group-addon.np {
	padding: 0px;
}
.input-group-addon button {
	border: none;
	background: transparent;
	padding: 5px 10px;
}

#annotationsvg {
	width: 100%;
	height: 93%;
	margin-top: 30px;
}

#svg-g-events rect.ebg {
	fill: #eee;
}
#svg-g-events rect.ibg {
	fill: #fbfbfb;
}

#loadsym {
  position: absolute;
	text-align: center;
	display:none;
  right: 25px;
  top: 5px;
  color: #00f;
  font-size: 24px;
}
#loadsym>div {
	background: #f9fdc6ad;
	font-size: 16px;
	min-width: 50px;
	border-radius: 3px;
	padding: 2px 5px;
}
.bgloading #loadsym {
	display: block;
}

g.eInf > rect {
  fill: #fcfcfc;
	outline: 1px solid #ccc;
}
g.eInf:hover > rect {
  outline: 1px solid #777;
}
g.eTok {
  cursor: pointer;
}
g.eTok > rect {
  fill: #fff;
}
g.eTok.eTokT3 > rect, g.eTok.eTokT5 > rect {
	fill: #fafaff;
}
g.eTok.eTokT4 > rect {
	fill: #fffcfa;
}
g.eTok.eTokT7 > rect {
	fill: #fffafa;
}
g.eTok>line {
  stroke-width: 2;
}
g.eTok>line.blue {
  stroke: #00a;
}
g.eTok>line.green {
  stroke: #0a0;
}
g.eTok > line.visit {
  stroke: #ccc;
	stroke-width: 4px;
	stroke-linecap: round;
}
g.eTok.viewed > line.visit {
	stroke: #bbf;
}
g.eTok.lastview > line.visit {
	stroke: #99f;
}
g.eTok.selected > line.visit {
	stroke: #4b4;
}
g.eTok:hover > line.visit {
	stroke: #9f9;
}

g.eZeile > rect {
  fill: none;
  outline: 1px solid #ccc;
}
g.eZeile.selected > rect {
  outline: 2px solid #999;
}
g.zInf {
	cursor: pointer;
}
g.zInf > rect {
	fill: #fff;
}
g.eZeile.selected g.zInf.selected > rect {
  fill: #fcfcff;
}
g.zInf:hover > rect {
	fill: #eef !important;
}
g.zInf>line {
  stroke-width: 1px;
  stroke: #aaa;
}
text.zInfI {
  font-weight: bold;
}
text.zInfLI {
  font-size: 12px;
  fill: #999;
  text-anchor: end;
}
g.tEvent > .zeit {
	cursor: pointer;
}
g.tEvent > .zeit > text {
  font-size: 10px;
  fill: #666;
}
g.tEvent > .zeit > rect {
  fill: #eee;
}
g.tEvent > .zeit > rect.past {
  fill: #eef;
}
g.tEvent > .zeit > rect.akt {
  fill: #efe;
}
g.tEvent > .zeit > line {
  stroke-width: 1px;
  stroke: #888;
}

.audioplayer-at {
  position: absolute;
  border-top: 1px solid #e7e7e7;
  width: 100%;
  height: 150px;
  bottom: 0;
  left: 0;
	padding: 10px 15px;
}

#focuscatch {
  position: absolute;
  top: -50px;
  left: -50px;
  width: 10px;
  height: 10px;
}
