#annotationsTool {
  position: relative;
	height: 100%;
}

#loading {
	display:none;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: rgba(0,0,0,0.25);
	color: #fff;
	font-size: 50px;
	text-align: center;
	line-height: 70vh;
	text-shadow: 2px 3px 4px #000;
	margin-left: -15px;
  margin-right: -15px;
	z-index: 1000000;
}
.loading #loading {
	display: block;
}

.input-group-addon.np {
	padding: 0px;
}
.input-group-addon button {
	border: none;
	background: transparent;
	padding: 5px 10px;
}

#annotationsvg {
	width: 100%;
	height: 93%;
	margin-top: 30px;
}

#svg-g-events rect.ebg {
	fill: #eee;
}
#svg-g-events rect.ibg {
	fill: #fbfbfb;
}

g.eInf > rect {
  fill: #eee;
	outline: 1px solid #aaa;
}
g.eTok > rect {
    fill: #fff;
}
g.eZeile > rect {
  fill: none;
  outline: 1px solid #ccc;
}
g.zInf>line {
  stroke-width: 1px;
  stroke: #aaa;
}
text.zInfI {
  font-weight: bold;
}
text.zInfLI {
  font-size: 12px;
  fill: #999;
  text-anchor: end;
}
