#annotationstool {
	margin-top: 50px;
}

#atloading {
	position: absolute;
	left: 35%;
	right: 35%;
	top: 30%;
	font-weight: bold;
	font-size: 20px;
	z-index: 1000000;
	background: #fee;
	padding: 10% 20px;
	text-align: center;
}

.annotationszeile {
	border: 1px solid #eee;
	margin-top: 40px;
	min-width: 100%;
	padding-right: 5px;
	white-space: nowrap;
	width: fit-content;
}

.leererinf {
	display: none;
}

.infstitel {
	display: inline-block;
}
.inftitel {
	background: #eee;
	border: 1px solid #ddd;
	height: 41px;
	margin: 5px 0 5px 5px;
	padding: 10px 20px;
}

.event {
	display: inline-block;
	position: relative;
}
.event>.infe {
	background: #fff;
	border: 0 solid #ddd;
	border-bottom-width: 1px;
	border-right: 1px solid #eee;
	border-top-width: 1px;
	height: 41px;
	margin: 5px 0 5px 0;
	padding: 5px 0;
}
.event:hover>.infe {
	background: #eef;
}
.event.fc>.infe {
	padding-left: 10px;
}
.event:last-child>.infe {
	border-right-width: 1px;
	padding-right: 10px;
}
.eventzeit {
	position: absolute;
	bottom: calc( 100% + 1px );
	left: 0px;
	background: #fff;
	padding: 0px 5px 3px;
	border-left: 1px solid #ccc;
	font-size: 10px;
	right: 0px;
	overflow: hidden;
}
.event:hover .eventzeit {
	background: #eef;
	font-size: 14px;
	font-weight: bold;
	z-index: 1000;
	min-width: 100%;
	right: auto;
}

.token, .notoken {
	display: inline-block;
	padding: 5px 0px;
  cursor: pointer;
}
.token.fragment {
	color: #666;
	background: #fafafa;
}
.token.viewed {
	border: 1px solid #ddf;
  margin: -1px;
}
.token.lastview {
  border: 1px solid #aaf;
  margin: -1px;
}
.token:hover {
	background:#efe;
}
.notoken {
	width: 0px;
}
.token.selected {
	border-bottom: 5px solid #00f;
	padding-bottom: 1px;
}

#js-modal.tokeninfos.loading:after {
	content: 'Lade ...';
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: rgba(0,0,0,0.25);
	color: #fff;
	font-size: 50px;
	text-align: center;
	line-height: 70vh;
	text-shadow: 2px 3px 4px #000;
}

#js-modal.tokeninfos:not(.changed) #saveToken  {
	background: #eee;
	border-color: #ccc;
	color: #bbb;
}

.token.error {
  background: #f88;
  color: #000;
}
