body {
	padding-top: 50px;
	font-family: 'Lato', sans-serif;
	font-size: 15px;
}

h1,.h1,h2,.h2,h3,.h3 {
	font-weight:bold;
}
.nowrap {
	white-space: nowrap;
}
.w100 {
	width:100%;
}
.w180px {
	width:180px;
	max-width:100%;
}
.w250px {
	width:250px;
	max-width:100%;
}
.mit10 {
	margin-top:10px;
}
.mib5 {
	margin-bottom:5px;
}
.mib10 {
	margin-bottom:10px;
}
.mib20 {
	margin-bottom:20px;
}
.mh200px {
	min-height:200px;
}
.mh600px {
	min-height:600px;
}
.smir10>* {
	margin-right:15px;
}
.smir10>*:last-child {
	margin-right:0px;
}
.smir10 .form-group label {
	margin-right:5px;
}
textarea.form-control {
	max-width:100%;
}
.hscroller {
  overflow-x: scroll;
}
.vscroller {
  overflow-y: scroll;
}
.h100 {
	height:100%;
}
.fx-btn-badge {
	text-align:left;
}
.fx-btn-badge>.badge {
	float:right;
	top:0px;
}
.lmfa {
	background: #fcfcfc;
	border-left: 1px solid #eee;
	border-right: 1px solid #eee;
	padding-top:5px;
	padding-bottom:70px;
	padding-left: 10px;
	padding-right: 10px;
}
.lmfabc {
  position:relative;
  display: block;
  padding: 5px 10px;
  background: #fff;
  margin: 5px 0px 0px 0px;
  color: #2B5A84;
}
.lmfabcl {
  display: block;
  position:relative;
  padding: 5px 10px;
  background: #eee;
  margin: 5px 0px 0px 0px;
  color: #2B5A84;
}
.lmfabcl.open {
  background: #555;
  color: #eee;
}
.lmfabcl:hover, .lmfabcl:focus {
  background: #777;
  color: #fff;
  text-decoration: none;
}
.lmfabcl.open:after {
	content: "\e080";
	position: absolute;
	right:6px;
	top:6px;
	display: inline-block;
	font-family: 'Glyphicons Halflings';
	font-style: normal;
	font-weight: bold;
	font-size: 19px;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.lmfabcl.loading:after {
	content: "\e031";
	position: absolute;
	right:6px;
	top:6px;
	display: inline-block;
	font-family: 'Glyphicons Halflings';
	font-style: normal;
	font-weight: bold;
	font-size: 19px;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-animation: spin 2s infinite linear;
	-moz-animation: spin 2s infinite linear;
	-o-animation: spin 2s infinite linear;
	animation: spin 2s infinite linear;
}
.open>.lmfabc,.lmfabc.open {
  background: #ddd;
  color: #272C31;
}
.lmfabc:hover, .lmfabc:focus {
  background: #555;
  color: #ddd;
  text-decoration: none;
}
.lmfabc>b {
	text-transform: uppercase;
	font-size:17px;
}
.lmfabc>span {
	float:right;
}
.lmfabc.loading:after {
	content: "\e031";
	position: absolute;
	left:45%;
	top:6px;
	display: inline-block;
	font-family: 'Glyphicons Halflings';
	font-style: normal;
	font-weight: bold;
	font-size: 19px;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-animation: spin 2s infinite linear;
	-moz-animation: spin 2s infinite linear;
	-o-animation: spin 2s infinite linear;
	animation: spin 2s infinite linear;
}
.lmfal {
	background:#fff;
	padding:5px 10px;
	margin: 0px -5px;
}
.lmfasf {
  width: 100%;
  margin: 5px 0px 0px 0px;
  display: block;
  padding: 5px 10px;
  padding-right: 35px;
  font-size: 17px;
  font-weight: bold;
  border: none;
}
.iwdbtn {
	position:relative;
}
.idbtn {
  position: absolute;
  right: 2px;
  top: 2px;
  height: 30px;
  width: 32px;
  background: #fff;
  border: none;
  color: #ccc;
}
.idbtn.active {
  background: #fff;
  color: #333;
}
.idbtn.active:hover {
  background: #555;
  color: #ddd;
}
.lmfa.searching  .lmfa-l>li:not(.found),.lmfa.searching  .lmfa-dl>li:not(.found) {
	display:none;
}
.lmfasff {
	position: relative;
}
.lmfasfx {
  width: 49%;
  margin-right: 2%;
  border: none;
  background: #ddd;
  color: #999;
  font-size: 13px;
  padding: 3px 8px;
  padding-top: 4px;
  margin-top: 2px;
  line-height: 1.1;
}
.lmfasfx:nth-child(2n+1) {
  margin-right: 0px;
}
.lmfasfx:before {
  content: "\e157";
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  line-height: 0.7;
  margin-right:3px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.lmfasfx.active {
  background: #fff;
  color: #333;
}
.lmfasfx.active:before {
  content: "\e067";
}
ul.lmfa-l,ul.lmfa-dl {
  list-style: none;
  padding-left: 0px;
}
ul.lmfa-dl {
	display:none;
}
.open>ul.lmfa-dl {
	display:block;
}
.viewobj, .openobj {
	border: none;
	background: #fcfcfc;
	color:#333;
	margin-left:10px;
}
.openobj {
	margin-left:3px;
}
.viewobj:hover, .viewobj:focus, .openobj:hover, .openobj:focus {
	background: #555;
	color:#ddd;
}
#js-modal .viewobj {
	display:none;
}
.grey {
	color:#ddd;
}

.mcon {
  padding: 0px 15px;
  padding-bottom: 75px;
}
.content {
	margin-bottom:75px;
}
#aufgabencontent {
	padding-bottom:300px;
}

.antwort {
  background: #fdfdfd;
  padding: 14px;
  border-radius: 10px;
  box-shadow: 4px 4px 7px rgba(0,0,0,0.3);
  margin-bottom: 15px;
}
.antwortenvorlage {
  display:none;
}
.antwort hr {
  margin-top: 5px;
  margin-bottom: 15px;
}
.antwort.delit {
	display:none;
}
.ant-tag, .ant-ntag, .ant-ctag {
  display: inline-block;
  background: #fff;
  border: 1px solid #ccc;
  padding-left: 5px;
  padding-right: 11px;
  margin-right: 4px;
  border-radius: 3px 11px 11px 3px;
  text-decoration: none;
  color: #333;
}
.ant-ntag, .ant-ctag {
	border-radius: 11px;
  padding: 1px 4px 1px 5px;
}
.ant-tag.delit {
	display:none;
}
#xtags, #pretags {
  display: none;
}
.tags {
  position: absolute;
  display: block;
  background: #eee;
  padding: 5px 8px;
  padding-bottom: 3px;
  border-radius: 3px;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.4);
  top: 2px;
  left: 0px;
  margin-left: -8px;
  z-index: 100;
  overflow-y: scroll;
  max-height: 300px;
}
.ptagsbtn, .pretagsbtn {
  background: #fff;
  border: 1px solid #ccc;
  padding-left: 5px;
  padding-right: 11px;
  border-radius: 3px 11px 11px 3px;
  text-decoration: none;
  color: #333;
  margin-left:50px;
  margin-bottom:2px;
	max-width: 300px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.ptagsbtn.active, .pretagsbtn.active {
	color:#fff;
	background:#333;
}
.ptagsd0 {
	margin-left:0px;
}
.ptagsd1 {
	margin-left:10px;
}
.ptagsd2 {
	margin-left:20px;
}
.ptagsd3 {
	margin-left:30px;
}
.ptagsd4 {
	margin-left:40px;
}
.ptagsdel {
  background: #fcc;
  color: #900;
  font-weight: bold;
  border-color: #dda4a4;
  border-radius: 3px;
}
.tagscontrol {
  margin-bottom: 5px;
}
.ptagsleft {
  border-radius: 11px 3px 3px 11px;
  padding-left: 11px;
  padding-right: 5px;
}
.newtag .tagscontrol {
	display:none;
}
#addantwort {
  display: inline-block;
  background: #fff;
  border: 1px solid #ccc;
  padding-left: 6px;
  padding-right: 10px;
  margin-right: 4px;
  border-radius: 11px;
  text-decoration: none;
  color: #333;
}
#antwortensbtns {
  position: absolute;
  right: 31px;
  bottom: 160px;
  z-index: 10000;
}
.form-group {
  margin-bottom: 6px;
}
.reihung-tags {
  padding-top: 6px;
  padding-bottom: 3px;
}
#audioplayer {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 150px;
  background: #fff;
  border-top: 1px solid #e7e7e7;
}
#erhinfaufgaben-frm {
  border-bottom: 1px solid #ddd;
  background: #eee;
  padding: 4px 15px;
  padding-right:30px;
}
.progress {
  margin-bottom: 9px;
  position:relative;
}
#ap-control {
  padding: 10px 15px;
  padding-bottom:0px;
}
.progress .markarea {
	position: absolute;
	background: rgb(255, 255, 0) none repeat scroll 0% 0%;
	border-left: 1px solid #000;
	border-right: 1px solid #000;
	opacity: 0.25;
	height: 100%;
	z-index: 100;
}
.pb-timer {
  position: absolute;
  top: -1px;
  text-shadow: -1px -1px 1px #fff,1px -1px 1px #fff,1px 1px 1px #fff,-1px 1px 1px #fff,0px 0px 1px #fff;
  z-index:1000;
}
.pb-starttime {
  left: 8px;
}
.pb-akttime {
  left: 0px;
  width: 100%;
  text-align: center;
}
.pb-endtime {
  right: 8px;
}
.antwort .antwortreihunghoch, .antwort .antwortreihungrunter {
  position: absolute;
  background: transparent;
  border: none;
  left: -9px;
}
.antwort .antwortreihunghoch.disabled, .antwort .antwortreihungrunter.disabled {
  color:#aaa;
}
.antwort .antwortreihunghoch {
  top: -7px;
  width: 15px;
  height: 15px;
}
.antwort .antwortreihungrunter {
  bottom: -2px;
  width: 15px;
  height: 15px;
}


.container {
  max-width: 100%;
}


.progress-bar {
    -webkit-transition: width 0.3s linear;
    -o-transition: width 0.3s linear;
    transition: width 0.3s linear;
}

.gly-spin {
  -webkit-animation: spin 2s infinite linear;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(359deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
  }
}
@-o-keyframes spin {
  0% {
    -o-transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
.gly-rotate-90 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
.gly-rotate-180 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.gly-rotate-270 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
}
.gly-flip-horizontal {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1);
  -webkit-transform: scale(-1, 1);
  -moz-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  transform: scale(-1, 1);
}
.gly-flip-vertical {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1);
  -webkit-transform: scale(1, -1);
  -moz-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  -o-transform: scale(1, -1);
  transform: scale(1, -1);
}
