<script type="text/x-template" id="tagsystem-template">
	<div v-bind:class="{ 'form-horizontal': true, 'tag-forms': true, tagsystem: true }">
		<template v-if="!(loadingTags && loadingBase)">
			<div class="form-group tag-line" v-for="aEbene in aTags">
				<label :class="'col-sm-'+colLeft+' control-label'">
					<select class="tagebene w100" v-model="aEbene['e']">
						<option value="0">Ebene auswählen (Löschen)</option>
						<option v-for="tagebene in cache.baseCache.tagebenen" :value="tagebene.pk">${tagebene.t}</option>
					</select>
				</label>
				<div :class="'col-sm-'+colRight">
					<div class="form-control-static reihung-tags" v-if="aEbene['e']>0">
						<div class="r-tag-familie r-tag-familie-pchilds">
							<tagsystemtags :ebene="aEbene['e']" generation=0 :tags="aEbene['tags']" :parents="[]" />
							<tagsystemselecttag :ebene="aEbene['e']" generation=0 :tags="aEbene['tags']" :parents="[]" />
						</div>
						<button class="ant-ctag"><span class="glyphicon glyphicon-star" aria-hidden="true"></span></button>
					</div>
					<p class="form-control-static" v-else><b>Ebene auswählen!</b></p>
				</div>
			</div>
			<div class="form-group add-tag-line-line">
				<div :class="'col-sm-'+colLeft"><button class="add-tag-line" @click="addEbene"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Tag-Ebene</button></div>
			</div>
		</template>
		<template v-else>
			<div class="form-group"><div :class="'col-sm-offset-'+colLeft+' col-sm-'+colRight"><p class="form-control-static">Lade Tagsystem ...</p></div></div>
		</template>
	</div>
</script>

<script type="text/x-template" id="tagsystem-tags-template">
	<div style="display: inline-block;">
		<div class="r-tag-familie r-tag-familie-pchilds" v-for="aTag in aTags">
			<button class="ant-tag">${ cache.tagsCache.tags[aTag.tag].t }</button>
			<tagsystemtags :generation="parseInt(generation)+1" :ebene="ebene" :tags="aTag['tags']" :parents="aParents.concat(aTag.tag)" />
			<tagsystemselecttag :generation="parseInt(generation)+1" :ebene="ebene" :parents="aParents.concat(aTag.tag)" :tags="aTag['tags']" v-if="cache.tagsCache.tags[aTag.tag].c" />
		</div>
	</div>
</script>

<script type="text/x-template" id="tagsystem-selecttag-tags-template">
	<div style="display: inline-block;">
		<button class="ant-ftag" @click="seltags"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
		<div class="tags seltags open" v-if="isOpen">
			<div>Generation: ${ generation }</div>
			<div>Parents: ${ aParents }</div>
			<div class="tag-familie" data-classes="r-tag-familie" v-for="tagR in cache.tagsCache.tagsReihung" v-if="(!cache.tagsCache.tags[tagR].g||cache.tagsCache.tags[tagR].g===generation)&&(!cache.tagsCache.tags[tagR].tezt || (cache.tagsCache.tags[tagR].tezt&&cache.tagsCache.tags[tagR].tezt.indexOf(ebene)>-1))">
				<button class="ptagsbtn" ref="ptagsbtn" @click="ptagsbtn(tagR)" v-on:blur="seltagsBlur" :title="cache.tagsCache.tags[tagR].tl+' - ID: '+tagR">
					${ cache.tagsCache.tags[tagR].t }
				</button>
			</div>
		</div>
	</div>
</script>
