<script type="text/x-template" id="tagsystem-template">
	<div v-bind:class="{ 'form-horizontal': true, 'tag-forms': true, tagsystem: true }">
		<template v-if="!(loadingTags || loadingBase) && !reRender">
			<div class="form-group tag-line" v-for="(aEbene, aEbeneIndex) in aTags">
				<label :class="'col-sm-'+colLeft+' control-label'">
					<select class="tagebene w100" v-model="aEbene['e']">
						<option value="0">Ebene auswählen (Löschen)</option>
						<option v-for="tagebene in cache.baseCache.tagebenen" :value="tagebene.pk" :disabled="(aEbene['e']!==tagebene.pk) && ebeneVorhanden(tagebene.pk)">${tagebene.t}</option>
					</select>
				</label>
				<div :class="'col-sm-'+colRight">
					<div class="form-control-static reihung-tags" v-if="aEbene['e']>0">
						<div class="r-tag-familie r-tag-familie-pchilds">
							<tagsystemtags :ebene="aEbene['e']" generation=0 :tags="aEbene['tags']" :parents="[]" :tagindex="aEbeneIndex" @changetag="changeTag" />
							<tagsystemselecttags :ebene="aEbene['e']" generation=0 :tags="aEbene['tags']" tagindex="-1" :parents="[]" :tagindex="aEbeneIndex" @changetag="changeTag" />
						</div>
						<div class="iblock prel" v-if="cache.baseCache.tagebenen[aEbene.e].hasPresets">
							<button class="ant-ctag" :disabled="loadingPresets" @click="showPresets=!showPresets"><span class="glyphicon glyphicon-star" aria-hidden="true"></span></button>
							<div class="tags seltags open" v-if="!loadingPresets && showPresets">
								<button v-for="(preset, pIndex) in cache.presetsCache" v-if="(preset.tf.length > 0) && (!preset.ze || (preset.ze && preset.ze.indexOf(aEbene['e']) > -1))" @click="addPreset(aEbeneIndex, pIndex)" v-on:blur="selPresetBlur" class="pretagsbtn" :title="(pIndex + 1) + '. ' + preset.tokenText">${ (pIndex + 1) + '. ' + preset.tokenText }</button>
							</div>
						</div>
					</div>
					<p class="form-control-static" v-else><b>Ebene auswählen!</b></p>
				</div>
			</div>
			<div class="form-group add-tag-line-line">
				<div :class="'col-sm-'+colLeft"><button class="add-tag-line" @click="addEbene"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Tag-Ebene</button></div>
			</div>
		</template>
		<template v-else>
			<div class="form-group"><div :class="'col-sm-offset-'+colLeft+' col-sm-'+colRight"><p class="form-control-static">Lade Tagsystem ...</p></div></div>
		</template>
	</div>
</script>

<script type="text/x-template" id="tagsystem-tags-template">
	<div class="iblock">
		<div v-bind:class="{'r-tag-familie': true, 'r-tag-familie-pchilds': cache.tagsCache.tags[aTag.tag].c, 'error': (!cache.tagsCache.tags[aTag.tag].c && (aTag.tags && aTag.tags.length>0))}" v-for="(aTag, aTagIndex) in aTags">
			<tagsystemselecttags :generation="parseInt(generation)" :ebene="ebene" :parents="aParents" :tags="aTag" :tag="aTag.tag" :tagindex="aTagIndex" :tagindexmax="aTags.length-1" @movetag="movetag" @deltag="deltag" @changetag="changeTag" />
			<tagsystemtags :generation="parseInt(generation)+1" :ebene="ebene" :tags="aTag.tags" :parents="aParents.concat(aTag.tag)" :tagindex="aTagIndex" @changetag="changeTag"/>
			<tagsystemselecttags :generation="parseInt(generation)+1" :ebene="ebene" :parents="aParents.concat(aTag.tag)" :tags="aTag.tags" :tagindex="aTagIndex" v-if="cache.tagsCache.tags[aTag.tag].c" @changetag="changeTag" />
		</div>
	</div>
</script>

<script type="text/x-template" id="tagsystem-selecttag-tags-template">
	<div class="iblock prel">
		<button v-bind:class="{'ant-ftag': !tag, 'ant-tag': tag, 'error': (tag && (cache.tagsCache.tags[tag].tezt && cache.tagsCache.tags[tag].tezt.indexOf(this.ebene) < 0))}" @click="seltags"><span class="glyphicon glyphicon-plus" aria-hidden="true" v-if="!tag"></span>${ tag ? cache.tagsCache.tags[tag].t : '' }</button>
		<div class="tags seltags open" v-if="isOpen">
			<div class="tagscontrol" v-if="tag">
				<button class="ptagsbtn ptagsleft" title="Aktuellen Tag nach links verschieben" tabindex="-1" :disabled="tagindex<1" @click="movetagleft" v-on:blur="seltagsBlur"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></button>
				<button class="ptagsbtn ptagsdel" data-pk="0" title="Aktuellen Tag löschen" tabindex="-1" @click="deltag()" v-on:blur="seltagsBlur"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
				<button class="ptagsbtn ptagsright" title="Aktuellen Tag nach rechts verschieben" tabindex="-1" :disabled="!(tagindex<tagindexmax)" @click="movetagright" v-on:blur="seltagsBlur"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></button>
			</div>
			<tagsystemselecttag :generation="parseInt(generation)" agen=0 :ebene="ebene" :parents="aParents" :tags="aTags" :tag="tag" :tagindex="tagindex" @closePtagsbtn="closePtagsbtn()" @changetag="changeTag" />
		</div>
	</div>
</script>

<script type="text/x-template" id="tagsystem-selecttag-tag-template">
	<div>
		<div v-bind:class="{'tag-familie': true, 'hidden-parent': tagR.p}" data-classes="r-tag-familie" v-for="tagR in getATags">
			<button v-bind:class="{'ptagsbtn': true, 'selected': (aTag===tagR.tId&&parseInt(agen)===parseInt(generation))}" :disabled="tagR.p" ref="ptagsbtn" @click="ptagsbtn(tagR.tId)" v-on:blur="seltagsBlur" :title="cache.tagsCache.tags[tagR.tId].tl+' - ID: '+tagR.tId">${ cache.tagsCache.tags[tagR.tId].t }</button>
			<tagsystemselecttag :generation="parseInt(generation)" :agen="parseInt(agen)+1" :ebene="ebene" :parents="aParents" :tags="aTags" :tag="aTag" v-if="tagR.p" :tagindex="tagindex" @closePtagsbtn="closePtagsbtn()" @changetag="changeTag" />
		</div>
	</div>
</script>
