{% extends 'main/basis.html' %}
{% load staticfiles %}{% load dioeTags %}
{% block title %} - spaghetti and meatballs{% endblock %}
{% block sitecss %}<link href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.7.0/vis.min.css" rel="stylesheet" type="text/css">{% endblock %}
{% block ueberschrift %} - spaghetti and meatballs{% endblock %}
{% block inhalt %}
<div id="visualization" style="width:100%;height:850px;"></div>

{% endblock %}
{% block sitejs %}
<script>
	var csrf='{{ csrf_token }}';
	var isstartseite = {% if request.path == startseiteurl %}true{% else %}false{% endif %};
	var sysstatusurl = "{% url 'sysstatus' %}";
	var audiodir = '{% settings_value "AUDIO_URL" %}';
</script>
<script src="//cdnjs.cloudflare.com/ajax/libs/vis/4.7.0/vis.min.js"></script>
<script>
  var nodes = new vis.DataSet(
      {{ meatballs|safe }}
  );

  var edges = new vis.DataSet(
      {{ spaghetti|safe }}
  );

  var data = {
    nodes: nodes,
    edges: edges
  };

  var container = document.getElementById('visualization');
  var options = {
		"configure": {
	    enabled: false,
		},
		"interaction": {
			navigationButtons:true,
		},
    "edges": {
      "smooth": {
        "type": "cubicBezier",
        "roundness": 0.55
      },
    },
    "layout": {
      hierarchical: {
				// enabled: false,
        sortMethod: 'hubsize',
				// sortMethod: 'directed',
        direction:'UD',
				levelSeparation: 80,
      },
			randomSeed: 999,
    },
		"physics": {
	    hierarchicalRepulsion: {
	      nodeDistance: 180,
	    },
		},

  };

  var timeline = new vis.Network(container, data, options);

</script>
{% endblock %}
